body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 500px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

input, button, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

ul {
  background-color: #fff;
  list-style: none;
  padding: 0;
}

li.completed .task-text {
  
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-decoration: line-through;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.completed {
  text-decoration: line-through;
}
